.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
